/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */

/* global */

#wrapper {
  max-width: 880px;
  margin: 0 auto;
}

p {
  padding: 0.5em 0;
}

h2 {
  margin: 0.75em 0;
}
/* header */

header {
  margin: 20px 0;
}

header nav,
header img {
  display: inline-block;
}

header nav ul {
  padding: 10px 0;
}

header nav li {
  display: inline-block;
}

header nav li a {
  text-decoration: none;
  color: gray;
  padding: 30px;
  font-size: 0.9em;
}

header nav li:first-child a {
  padding-left: 0;
}

header img {
  float: right;
}

/* hero */

#hero {
  padding: 60px 0;
}

#hero div {
  display: inline-block;
  width: 49%;
}

#hero div.left {
  text-align: center;
}

#hero div.right {
  text-align: right;
}

#hero div.right img {
  max-width: 80%;
}

#hero h1 {
  font-size: 4.75em;
}

#hero button {
  border: 1px solid black;
  background: transparent;
  font-size: 1em;
  padding: 5px 40px;
}

/* main */
main {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 30px 0 40px;
}

main section.top div {
  display: inline-block;
  width: 49%;
}

main section.top div:nth-child(2) {
  float: right;
}

main div img {
  width: 100%;
  padding: 30px 0;
}

main section.bottom div {
  display: inline-block;
  width: 33%;
}

main section.bottom div:nth-child(3) {
  float: right;
}

/* contact */
#contact {
  padding-top: 30px;
}
/* footer */

footer {
  padding: 40px 0;
}

footer p {
  text-align: center;
}
